html, body, #root {
  min-height: 100% !important;
  height: 100%;
  min-width: 100%;
  margin: 0px;
}

.main {
  font-family: "Montserrat", sans-serif;
  background: blue;
  min-height: 100% !important;
  height: 100%
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  margin-bottom: 10px;
  text-align: right;
  width: 100%;
  max-width: 400px;
}

.geolocation {
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.forecast {
  width: 100%;
  max-width: 400px;
}

.weather {
  width: 100%;
  max-width: 400px;
  font-size: 20px;
}

.forecast-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed;
}

.forecast-line div {
  margin: 3px 0px;
}

.weather {
  margin-bottom: 30px;
}

.forecast-line-temp {
  display: flex;
  justify-content: space-between;
}

.high {
  padding-left: 5px;
  text-align: left;
  min-width: 55px;
}

.low {
  padding-right: 22px;
  text-align: left;
  min-width: 55px;
}

.temp-sign {
  float: right;
}


input {
  background: #f4f7f8;
  height: 20px;
  width: 200px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 30px 0 5px;
}

.description-box h2 {
  font-size: 32px;
  max-width: 400px;
}

.description-box img {
  height: 70px;
}

.footer {
  width: 100%;
  max-width: 400px;
}

.notification {
  display: flex;
  justify-content: left;
  align-items: flex-end; 
  height:60px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 400px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  max-width: 400px;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}

.grey {
  background: linear-gradient(#f4f7f8, #cacdce);
  color: #f47775;
}

.sunny {
  background: linear-gradient(#f7e9b9, #f3d162);
  color: #2a5510;
}

.wet {
  background: linear-gradient(#a3def7, #4ca5d2);
  color: #164a68;
}

.snow {
  background: linear-gradient(#e9f8ff, #b3e6f7);
  color: #848ff0;
}

.default {
  background: linear-gradient(#dbf6e9, #91c8af);
  color: #31326f;
}

.grey a {
  color: #f47775;
}

.grey input,
.grey input::placeholder,
.grey a {
  color: #f47775;
}

.wet input,
.wet input::placeholder,
.wet a {
  color: #164a68;
}

.sunny input,
.sunny input::placeholder,
.sunny a {
  color: #2a5510;
}

.snow input,
.snow input::placeholder,
.snow a {
  color: #848ff0;
}

.default input,
.default input::placeholder,
.default a {
  color: #31326f;
}

@media (min-width: 668px) {
  .description-box h2,
  .geolocation,
  .control,
  .search-bar,
  .footer,
  .weather,
  .notification,
  .forecast {
    max-width: 500px;
  }

  .description-box h2 {
    font-size: 38px;
  }

  .description-box img {
    width: 150px;
  }

  .weather {
    margin-bottom: 30px;
  }

  /* .geolocation {
    margin-bottom: 60px;
  } */

  input {
    width: 200px;
  }
}

@media (max-height: 800px) {
  .main {
    height: auto;
  }

  .container {
    padding-top: 10px;
  }

}

.icon {
  height: 70px;
  transform-origin: left top;
  animation: scale 4000ms ease-in-out alternate infinite;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}